main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form-container {
  border-radius: 4px;
  padding: 20px;
  color: #fff;
  width: 60%;
  background-color: #333;
}
.form-players {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.form-players input {
  padding: 4px;
  margin: 20px;
  border: 0;
  border-radius: 4px;
}
.inactive-container {
  display: flex;
  flex-direction: column;
}
.btn-container {
  display: flex;
  justify-content: center;
}
.name-inputs {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.form-item {
  width: 240px;
}
.btn-symbol {
  background-color: #222;
  font-size: 50px;
  border: 0;
  border-radius: 4px;
  height: 80px;
  width: 80px;
  margin: 0 20px;
}

.play-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.btn-play {
  background-color: #222;
  border: 0;
  font-size: 20px;
  padding: 8px;
  border-radius: 4px;
  margin: 10px 20px;
  width: 200px;
}

.btn-submit {
  align-self: center;
  text-align: center;
  background-color: #222;
  border: 0;
  font-size: 20px;
  padding: 8px;
  border-radius: 4px;
  margin: 10px 20px;
  width: 25%;
}
.btn-play:hover {
  background-color: #777;
}
.btn-submit:hover {
  background-color: #777;
}
