main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form-container {
  border-radius: 4px;
  padding: 20px;
  color: #fff;
  width: 60%;
  background-color: #333;
}
.form-players {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.form-players input {
  padding: 4px;
  margin: 20px;
  border: 0;
  border-radius: 4px;
}
.btn-container {
  display: flex;
  justify-content: center;
}
.btn-flex {
  display: flex;
  flex-direction: column;
}

.btn-symbol {
  background-color: #222;
  font-size: 50px;
  border: 0;
  border-radius: 4px;
  height: 80px;
  width: 80px;
  margin: 0 20px;
}
.btn-symbol:hover {
  background-color: #777;
}
.btn-play {
  background-color: #222;
  border: 0;
  font-size: 40px;
  padding: 8px;
  border-radius: 4px;
  margin: 10px 20px;
}
.btn-play:hover {
  background-color: #777;
}
